/*structure of pages*/

header {
    height: 15vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: transparent;
    font-family: $ffh;
}
body {
    position: fixed !important;
    height: 100vh !important;
    width: 100% !important;
    font-family: $ffb;
}
footer {
    height: 15vh;
    width: 100% !important;
    position: fixed;
    bottom: 0;
}
.content {
    height: 70vh;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-y: auto;
}
@include computer {
    .content {
        padding-top: 0%;
        padding-bottom: 0%;
    }
}
